a {
	display: block;
	text-decoration: none;
}

body {
	width: 100%;
	font-size: 2em;
}

#input {
	width: 100%;

	position: fixed;
	bottom: 0;
}

#output {
	padding-bottom: 400px;
}

.out-node {
	padding: 15px 5px;
}

#command {
	width: 100%;
	font-size: 1.5em;
}

