a {
	display: block;
	text-decoration: none;
}

body {
	font-size: 2em;
	line-height: 1em;
}

#output {
}

.out-node {
	padding: 15px 5px;
}

.node-command {
}

.node-command-wrapper {
	max-height: 4em;
	overflow: scroll;
}

#command {
	position: fixed;
	bottom: 0;

	width: 100%;
	font-size: 1.5em;
	border: 0;
}

