html
  head
    title AlphaTerm
    script(type='text/javascript' src='/socket.io/socket.io.js')
    script(type='text/javascript' src='index.js')

    script(type='text/javascript' src='AlphaComponent.js')

    script(type='text/javascript' src='AlphaTerm.js')

    script(type='text/javascript' src='CommandLine.js')
    script(type='text/javascript' src='CommandArea.js')

    link(rel='stylesheet' href='index.css')

    body
      #alpha-term
