html
  head
    title AlphaTerm
    script(type='text/javascript' src='/socket.io/socket.io.js')
    script(type='text/javascript' src='index.js')
    script(type='text/javascript' src='CommandLine.js')
    script(type='text/javascript' src='CommandArea.js')
    script(type='text/javascript' src='intercept.js')
    script(type='text/javascript' src='cmd.js')
    script(type='text/javascript' src='keybindings.js')

    link(rel='stylesheet' href='index.css')

    #output

    form#input

      #infobar
        span#cwd
        #cwd_contents

      input#command
