html
  head
    title AlphaTerm
    script(type='text/javascript' src='/socket.io/socket.io.js')
    script(type='text/javascript' src='index.js')

    link(rel='stylesheet' href='index.css')

    body
      #alpha-term
