html
  head
    title AlphaTerm
    script(type='text/javascript' src='/socket.io/socket.io.js')
    script(type='text/javascript' src='xterm.js')
    script(type='text/javascript' src='term-view.js')

    link(rel='stylesheet' href='xterm.css')

