.selected {
  background: grey;
}

#completions-wrapper {
}

#command-area {
  display: inline-block;
  padding: 10px;
  width: 100%;
}

#command-line-input {
  display: inline-block;
  width: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

span {
  padding: 0 10px;
  white-space: pre;
}

.command-node {
  padding: 10px;
}

.command-node-data span {
  display: block;
}

.command-node-status {
  display: inline-block;
  padding: 0px 3px 3px 20px;
}

body {
  margin: 0;
}

