body {
  margin: 0;
}

.selected {
  background: grey;
}

#command-area {
  display: inline-block;
  position: fixed;
  padding: 10px;
  width: 98%;
  bottom: 0;
}

#command-line-input {
  display: inline-block;
  margin-top: 10px;
  width: 100%;
}

#clear-commands {
  display: inline-block;
}

form {
  display: inline-block;
  width: 70%;
}

.command-node-data span {
  display: block;
}

span {
  padding: 0 10px;
  white-space: pre;
}

.command-node-status {
  display: inline-block;
  padding: 0px 3px 3px 20px;
}
